.icon{
    padding: 10px;
    text-align: left;
    font-size: 30px;
    

}

.header {
    padding: 0px 0px 0px 0px;
    text-align: center;
    background-color: rgb(255, 174, 0);
    color: black;
    font-size: 20px;
    width: 100%;
    height: 80px;
}
.container {
    width: 1850px;
    margin: 0px auto;
}

.width-50 {
    width: 50%;
    float: left;
}

.headquote {
    display: inline-flexbox;
    overflow: hidden;
    text-align: initial;
    white-space: nowrap;
    
}

.header-menu {
    position: relative;
    box-shadow: 0px 2px 5px 0px #00000036;
}


.logo {
    width: 8px;
    float: left;
    margin-left:none;
}

.main-menu {
    list-style: none;
    float: right;
    margin-top: 20px;
}

.main-menu a {
    font-weight: 500;
    color: #3a3a3a;
    font-size: 20px;
    text-decoration: none;
}



.main-menu li {
    float: left;
    padding: 12px 15px;
}

.slider-width {
    width: 100%;
    height: auto;
}

.margin-top-50{
    margin-top: 50px;
}

.width-33{
    width: 33%;
    float: left;
}





.latest-news{
    margin-left: 10px;
    margin-right: 10px;
    background: #fffdd0;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}

.heading-section{
    width: 100%;
    float: left;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 0px;
    margin: 0px;
    margin-bottom: 15 px;
    padding-top: 2px;
    border: 1px solid #cfcfcf;
    padding-top: 15px;
    padding-left: 15px;
    background: #00aed9;
    color: white;
}

.head-title{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
}

.latest-news-ul{
    padding: 0px;
    list-style: none;
    line-height: 40px;
}







.event-list{
    margin-left: 10px;
    margin-right: 10px;
    background: #fffdd0;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}

.upcoming-event-list{
    padding: 0px;
    list-style: none;
}

.upcoming-event-list li {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}


.event-date{
    background: #818589;
    width: 60px;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 5px;
    margin-right: 10px;
}












.notice-board{
    margin-left: 10px;
    margin-right: 10px;
    background: #fffdd0;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}


.notice-board-list{
    padding: 0px;
    list-style: none;
    line-height: 40px;  
}


.notice-board-list li{
    width: 100%;
    float: left;
    margin-bottom: 15px;
}










.recruiter-head-style{
    font-size: 28px;
    color: #4b4848;
    margin-bottom: 5px;
}

.recruiter-marquee{
    height: 100px;
}

.recruiter-marquee img{
    height: 80px;
    width: 140px;
    background-color: #020000;
}

.footer{
    background: #232f3e;
    padding: 50px 0px;
}







.quicklink-heading{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}


.quicklink-menu{
    list-style: none;
    padding-left: 10px;
}


.quicklink-menu li a {
    color: #fff;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
}























































.notification {
    color: green;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.button {
     background-color:rgb(0, 0, 0);
border: none;
color: rgb(255, 255, 255);
padding: 5px 5px;
text-align: left;
text-decoration: none;
display: inline-block; 
font-size: 10px;
margin: 10px;
cursor: pointer;
}


.icon{
    padding: 10px;
    text-align: left;
    font-size: 30px;
    

}

.header {
    padding: 0px 0px 0px 0px;
    text-align: center;
    background-color: rgb(255, 174, 0);
    color: black;
    font-size: 20px;
    width: 100%;
    height: 80px;
}
.container {
    width: 1850px;
    margin: 0px auto;
}

.width-50 {
    width: 50%;
    float: left;
}

.headquote {
    display: inline-flexbox;
    overflow: hidden;
    text-align: initial;
    white-space: nowrap;
    
}

.header-menu {
    position: relative;
    box-shadow: 0px 2px 5px 0px #00000036;
}


.logo {
    width: 20%;
    float: left;
}

.main-menu {
    list-style: none;
    float: right;
    margin-top: 20px;
}

.main-menu a {
    font-weight: 500;
    color: #3a3a3a;
    font-size: 20px;
    text-decoration: none;
}

.main-menu li {
    float: left;
    padding: 12px 15px;
}

.slider-width {
    width: 100%;
    height: auto;
}

.margin-top-50{
    margin-top: 50px;
}

.width-33{
    width: 33%;
    float: left;
}

.latest-news{
    margin-left: 10px;
    margin-right: 10px;
    background: #fffdd0;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}

.heading-section{
    width: 100%;
    float: left;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 0px;
    margin: 0px;
    margin-bottom: 15 px;
    padding-top: 2px;
    border: 1px solid #cfcfcf;
    padding-top: 15px;
    padding-left: 15px;
    background: #00aed9;
    color: white;
}

.head-title{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
}

.latest-news-ul{
    padding: 0px;
    list-style: none;
    line-height: 40px;
}

.event-list{
    margin-left: 10px;
    margin-right: 10px;
    background: #fffdd0;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}

.upcoming-event-list{
    padding: 0px;
    list-style: none;
}

.upcoming-event-list li {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}


.event-date{
    background: #818589;
    width: 60px;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 5px;
    margin-right: 10px;
}


.notice-board{
    margin-left: 10px;
    margin-right: 10px;
    background: #fffdd0;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}


.notice-board-list{
    padding: 0px;
    list-style: none;
    line-height: 40px;  
}


.notice-board-list li{
    width: 100%;
    float: left;
    margin-bottom: 15px;
}







.recruiter-head-style{
    font-size: 28px;
    color: #4b4848;
    margin-bottom: 5px;
}

.recruiter-marquee{
    height: 100px;
}

.recruiter-marquee img{
    height: 80px;
    width: 140px;
    background-color: #020000;
}







.footer{
    background: #232f3e;
    padding: 50px 0px;
}


.quicklink-heading{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}


.quicklink-menu{
    list-style: none;
    padding-left: 10px;
}


.quicklink-menu li a {
    color: #fff;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
}












.notification {
    color: green;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.button {
     background-color:rgb(0, 0, 0);
border: none;
color: rgb(255, 255, 255);
padding: 5px 5px;
text-align: left;
text-decoration: none;
display: inline-block; 
font-size: 10px;
margin: 10px;
cursor: pointer;
}


.icon{
    padding: 10px;
    text-align: left;
    font-size: 30px;
    

}

.header {
    padding: 0px 0px 0px 0px;
    text-align: center;
    background-color: rgb(255, 174, 0);
    color: black;
    font-size: 20px;
    width: 100%;
    height: 80px;
}
.container {
    width: 1850px;
    margin: 0px auto;
}

.width-50 {
    width: 50%;
    float: left;
}

.headquote {
    display: inline-flexbox;
    overflow: hidden;
    text-align: initial;
    white-space: nowrap;
    
}

.header-menu {
    position: relative;
    box-shadow: 0px 2px 5px 0px #00000036;
}


.logo {
    width: 20%;
    float: left;
}

.main-menu {
    list-style: none;
    float: right;
    margin-top: 20px;
}

.main-menu a {
    font-weight: 500;
    color: #3a3a3a;
    font-size: 20px;
    text-decoration: none;
}

.main-menu li {
    float: left;
    padding: 12px 15px;
}

.slider-width {
    width: 100%;
    height: auto;
}

.margin-top-50{
    margin-top: 50px;
}

.width-33{
    width: 33%;
    float: left;
}

.latest-news{
    margin-left: 10px;
    margin-right: 10px;
    background: #fffdd0;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}

.heading-section{
    width: 100%;
    float: left;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 0px;
    margin: 0px;
    margin-bottom: 15 px;
    padding-top: 2px;
    border: 1px solid #cfcfcf;
    padding-top: 15px;
    padding-left: 15px;
    background: #00aed9;
    color: white;
}

.head-title{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
}

.latest-news-ul{
    padding: 0px;
    list-style: none;
    line-height: 40px;
}

.event-list{
    margin-left: 10px;
    margin-right: 10px;
    background: #fffdd0;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}

.upcoming-event-list{
    padding: 0px;
    list-style: none;
}

.upcoming-event-list li {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}


.event-date{
    background: #818589;
    width: 60px;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 5px;
    margin-right: 10px;
}


.notice-board{
    margin-left: 10px;
    margin-right: 10px;
    background: #fffdd0;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}


.notice-board-list{
    padding: 0px;
    list-style: none;
    line-height: 40px;  
}


.notice-board-list li{
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

.recruiter-head-style{
    font-size: 28px;
    color: #4b4848;
    margin-bottom: 5px;
}

.recruiter-marquee{
    height: 100px;
}

.recruiter-marquee img{
    height: 80px;
    width: 140px;
    background-color: #020000;
}

.footer{
    background: #232f3e;
    padding: 50px 0px;
}


.quicklink-heading{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}


.quicklink-menu{
    list-style: none;
    padding-left: 10px;
}


.quicklink-menu li a {
    color: #fff;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
}












.notification {
    color: green;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.button {
     background-color:rgb(0, 0, 0);
border: none;
color: rgb(255, 255, 255);
padding: 5px 5px;
text-align: left;
text-decoration: none;
display: inline-block; 
font-size: 10px;
margin: 10px;
cursor: pointer;
}


.icon{
    padding: 10px;
    text-align: left;
    font-size: 30px;
    

}

.header {
    padding: 0px 0px 0px 0px;
    text-align: center;
    background-color: rgb(255, 174, 0);
    color: black;
    font-size: 20px;
    width: 100%;
    height: 80px;
}
.container {
    width: 1850px;
    margin: 0px auto;
}

.width-50 {
    width: 50%;
    float: left;
}

.headquote {
    display: inline-flexbox;
    overflow: hidden;
    text-align: initial;
    white-space: nowrap;
    
}

.header-menu {
    position: relative;
    box-shadow: 0px 2px 5px 0px #00000036;
}


.logo {
    width: 20%;
    float: left;
}

.main-menu {
    list-style: none;
    float: right;
    margin-top: 20px;
}

.main-menu a {
    font-weight: 500;
    color: #3a3a3a;
    font-size: 20px;
    text-decoration: none;
}

.main-menu li {
    float: left;
    padding: 12px 15px;
}

.slider-width {
    width: 100%;
    height: auto;
}

.margin-top-50{
    margin-top: 50px;
}

.width-33{
    width: 33%;
    float: left;
}

.latest-news{
    margin-left: 10px;
    margin-right: 10px;
    background: #fffdd0;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}

.heading-section{
    width: 100%;
    float: left;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 0px;
    margin: 0px;
    margin-bottom: 15 px;
    padding-top: 2px;
    border: 1px solid #cfcfcf;
    padding-top: 15px;
    padding-left: 15px;
    background: #00aed9;
    color: white;
}

.head-title{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
}

.latest-news-ul{
    padding: 0px;
    list-style: none;
    line-height: 40px;
}

.event-list{
    margin-left: 10px;
    margin-right: 10px;
    background: #fffdd0;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}

.upcoming-event-list{
    padding: 0px;
    list-style: none;
}

.upcoming-event-list li {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}


.event-date{
    background: #818589;
    width: 60px;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 5px;
    margin-right: 10px;
}


.notice-board{
    margin-left: 10px;
    margin-right: 10px;
    background: #fffdd0;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}


.notice-board-list{
    padding: 0px;
    list-style: none;
    line-height: 40px;  
}


.notice-board-list li{
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

.recruiter-head-style{
    font-size: 28px;
    color: #4b4848;
    margin-bottom: 5px;
}

.recruiter-marquee{
    height: 100px;
}

.recruiter-marquee img{
    height: 80px;
    width: 140px;
    background-color: #020000;
}

.footer{
    background: #232f3e;
    padding: 50px 0px;
}






.quicklink-heading{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}


.quicklink-menu{
    list-style: none;
    padding-left: 10px;
}


.quicklink-menu li a {
    color: #fff;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
}













.notification {
    color: rgb(233, 22, 7);
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.button {
    background-color:rgb(0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block; 
    font-size: 10px;
    margin: 10px;
    cursor: pointer;
}

.pannel{
    background-color: #232f3e;
}

.container4 .fas{
    color: #fff;
}